body {
	background-color: #c562dd;
	font-family: 'Times New Roman', Times, serif, sans-serif;
}

header {
	background-color: #d9cff5;
	color: #fff;
	padding: 20px;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #f50303;
	text-decoration: none;
}

nav a:hover {
	color: #ccc;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

h1 {
	font-size: 36px;
	margin-bottom: 10px;
}

p {
	margin-bottom: 20px;
}

img {
	width: 25%;
	height: 5%;
	margin: 5px;
}


.menu {
	background-color: #0ae4d9;
	color: #c90eda;
	padding: 10px;
	border-radius: 10px;
}

.menu:hover {
	background-color: #bb55be;
}


#logo {
	border-radius: 50%;
}

a:hover {
	color: #ccc;
}

.imagem-redonda {
    border-radius: 50%;
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
}

.imagem-menu {
	width: 50%;
	height: 50%;
	margin: 5px;
}